@import "macchiato.css";

* {
  font-family: "Iosevka Nerd Font, Symbols Nerd Font Mono";
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

/* WORKSPACES */
#workspaces button label{
    color: 	@lavender;
    font-weight: bolder;
}

#workspaces button.active label{
    color: #11111b;
    font-weight: bolder;
}

#workspaces{
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 25px;
}
#workspaces button{
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    background-color: @mantle;
    border-radius: 29px;
    margin-right: 10px;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: bolder;
    color: 	#89b4fa ;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
}

#workspaces button.active{
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px;
    padding-left: 20px;
    padding-bottom: 3px;
    background: rgb(203,166,247);
    background: radial-gradient(circle, rgba(203,166,247,1) 0%, rgba(193,168,247,1) 12%, rgba(249,226,175,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(198,255,194,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(255,255,255,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(148,226,213,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(205,214,244,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%); 
    background-size: 400% 400%;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 30%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient_f {
	0% {
		background-position: 0% 200%;
	}
    50% {
        background-position: 200% 0%;
    }
	100% {
		background-position: 400% 200%;
	}
}

@keyframes gradient_f_nh {
	0% {
		background-position: 0% 200%;
	}
	100% {
		background-position: 200% 200%;
	}
}


/* #workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
} */

#custom-waybar-mpris {
  padding: 0 10px;
  border-radius: 15px;
  background-color: #cdd6f4;
  color: #516079;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#custom-waybar-mpris.playing{
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
  font-weight: 900;
  color: #fff;
}

#custom-waybar-mpris.playing {
  background: linear-gradient(to right, 
    #8aadf4, #b7bdf8, #7dc4e4, #91d7e3, #8bd5ca, #a6da95, #eed49f, #f5a97f, #ee99a0, #ed8796, #c6a0f6, #f5bde6, #f0c6c6, #f4dbd6);
  background-size: 800% 800%;
  animation: gradient_f_nh 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
  border-radius: 10px;
}

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#custom-waybar-mpris.paused{
  background: @mantle;
  font-weight: bolder;
  color: #b4befe;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#custom-lock,
#custom-power {
  background-color: @mantle;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 10rem 10rem 0px;
  margin-right: 1rem;
  padding-right: 1.5rem;
}

#battery {
  color: @green;
  padding-right: 0.4rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery, #network {
    border-radius: 0;
}

#network {
  color: @lavender;
  padding-left: 0.5rem;
}

#pulseaudio {
  color: @maroon;
  border-radius: 2rem 0px 0px 2rem;
  margin-left: 1rem;
  padding-left: 1.5rem;
}

#custom-lock {
    border-radius: 2rem 0px 0px 2rem;
    color: @lavender;
    padding-left: 1.5rem;
}

#custom-power {
    margin-right: 1rem;
    padding-right: 1.5rem;
    border-radius: 0px 2rem 2rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

