#window {
  background-color: transparent;
  font-family: Iosevka Nerd Font;
}

#outer-box {
  margin: 30px;
}

#scroll {
  border-radius: 5px;
  background-color: {{ lookup colors base_color }};
  box-shadow: 0px 0px 10px 3px {{ lookup colors base_color }}; 
  border: 1px {{ hex_to_rgba (lookup colors border_color) 0.9 }} solid;
}

#input {
  color: {{ lookup colors text_color }};
  border: 1px {{ hex_to_rgba (lookup colors border_color) 0.9 }} solid;
  
  padding: 8px 12px 6px 30px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 3px {{ lookup colors base_color }};

  /* Swap comments between to get rid of search icon, (modify padding as well) */
  /* background-color: {{ lookup colors base_color }}; */
  background: {{ lookup colors base_color }} url('https://svgshare.com/i/rdG.svg') no-repeat 2% center / auto 40%;
}

#input > image.left {
  -gtk-icon-transform: scaleX(0);
  margin: 0;
  padding: 0;
}

#entry {
  border-radius: 5px;
  padding: 7px;
}

#entry:selected {
  background-color: {{ hex_to_rgba (lookup colors highlight_color) 0.2 }};
  border: 1px solid {{ lookup colors highlight_color }};
  outline-width: 0px;
}

#selected {
  outline-width: 0px;
}

#text:selected {
  color: {{ lookup colors text_color }};
}

#text {
  font-size: 16px;
  padding: 2px 7px 0px 7px;
  color: {{ lookup colors text_color }};
}

#img {
  padding: 4px;
}
