#window {
  background-color: transparent;
  filter: blur(5px);

  border-radius: 15px;
  font-family: Iosevka Nerd Font;
  animation: fadeIn;
  animation-duration: 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#outer-box {
  margin: 30px;
  border-radius: 10px;
  /* background-color: #1e1e2e; */
  background-color: transparent;
  /* border: 1px rgba(49, 50, 68, 0.9) solid; */
  /* box-shadow: 0px 0px 10px 3px rgba(20, 20, 20, 0.6); */
}

#scroll {
  border-radius: 5px;
  background-color: #181825;
  box-shadow: 0px 0px 10px 3px rgba(20, 20, 20, 0.6); 
  border: 1px rgba(49, 50, 68, 0.9) solid;
}

#input {
  color: #e5e9f0;

  border: 1px rgba(49, 50, 68, 0.9) solid;
  /* border: 1px solid rgba(180, 190, 254, 0.5); */
  
  padding: 8px 12px 6px 0px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #181825;
  box-shadow: 0px 0px 10px 3px rgba(20, 20, 20, 0.6);
  /* background: #181825 url('https://svgshare.com/i/rdG.svg') no-repeat 98% center / auto 40%; */
}

#input > image.left {
  -gtk-icon-transform: scaleX(0);
  margin: 0;
  padding: 0;
}

#entry {
  border-radius: 5px;
  padding: 7px;
}

#entry:selected {
  background-color: rgba(180, 190, 254, 0.1);
  outline-width: 0px;
}

#selected {
  outline-width: 0px;
}

#text:selected {
  color: #d8dee9;
}

#text {
  font-size: 16px;
  padding: 2px 7px 0px 7px;
  color: #d8dee9;
}

#img {
  padding: 4px;
}
