@import "macchiato.css";

* {
  font-family: "Iosevka Nerd Font";
  font-size: 17px;
}

#waybar {
  background: transparent;
}

/* WORKSPACES */
#workspaces button label{
    color: 	@lavender;
    font-weight: bolder;
}

#workspaces button.active label{
    color: #11111b;
}

#workspaces{
    background-color: transparent;
    margin: 5px 20px;
}
#workspaces button {
  background-color: @mantle;
    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    border-radius: 2rem;
    margin-right: 10px;
    padding: 4px 10px 2px 10px;
    font-weight: bolder;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
}

#workspaces button.active{
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
    background: rgb(203,166,247);
    background: radial-gradient(circle, rgba(203,166,247,1) 0%, rgba(193,168,247,1) 12%, rgba(249,226,175,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(198,255,194,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(255,255,255,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(148,226,213,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(205,214,244,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%); 
    background-size: 400% 400%;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 30%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient_f {
	0% {
		background-position: 0% 200%;
	}
    50% {
        background-position: 200% 0%;
    }
	100% {
		background-position: 400% 200%;
	}
}

@keyframes gradient_f_nh {
	0% {
		background-position: 0% 200%;
	}
	100% {
		background-position: 200% 200%;
	}
}

#custom-waybar-mpris {
  padding: 0 10px;
  border-radius: 15px;
  background-color: #cdd6f4;
  color: #516079;
  box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

#custom-waybar-mpris.playing{
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
  font-weight: 900;
  color: #fff;
}

#custom-waybar-mpris.playing {
  background: linear-gradient(to right, 
    #8aadf4, #b7bdf8, #7dc4e4, #91d7e3, #8bd5ca);
  background-size: 800% 800%;
  animation: gradient_f_nh 5s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#custom-waybar-mpris.paused{
  background: @mantle;
  font-weight: bolder;
  color: #b4befe;
}

.value,
.icon,
.icon_only, 
.value_only {
  margin: 5px 0;
}

.icon_only,
.value_only {
  margin-left: 10px;
}

.icon,
.icon_only {
  font-family: 'Segoe Fluent Icons';
}

.value {
  color: @text;
  background-color: @mantle;

  padding: 5px 0 5px 0;
  /* border-radius: 0 2rem 2rem 0; */
}

.icon {
  /* color: set by specific selectors after */
  background-color: @mantle;

  padding: 0 0.6rem 0 1.2rem;
  /* border-radius: 2rem 0 0 2rem; */
}

.value_only {
  color: @text;
  background-color: @mantle;
  
  padding: 0 1rem;
  border-radius: 2rem;
}

.icon_only {
  color: white;
  background-color: @mantle;

  padding: 0 1rem;
  border-radius: 2rem;
}

#network.icon_only {
  background-color: @lavender;
  font-size: 22px;
}

#network.icon_only.disconnected {
  background-color: @mantle;
  color: @lavender;
}

#pulseaudio.icon {
  color: rgba(237,135,150,1);
  border-radius: 2rem 0 0 2rem;
  margin-left: 10px;
  /* font-size: 19px */
}

#backlight.icon {
  color: @yellow;
  /* font-size: 20px; */
}

#battery.icon {
  color: rgba(166,218,149,1);
  /* font-size: 22px */
} 

#battery.value {
  border-radius: 0 2rem 2rem 0;
  padding-right: 1.1rem;
}

#custom-power.icon_only {
  background-color: @red;
  font-size: 22px;
  margin-right: 20px;
}
